data/
models/
.git/
.venv/
__pycache__/
*.jsonl
*.csv
main.ipynb

# Exceptions
# !data/evaluations.sql
# !data/usage.sql

# !data/igdb_index.jsonl
# !data/igdb_config.json

# !data/wikipedia_index.jsonl
# !data/wikipedia_config.json

# !data/wikipedia_ground_truth.csv
# !data/igdb_ground_truth.csv